.time {
 text-align: center;
 padding: 32px;
}

.time h3 {
 font-weight: bold;
 font-size: 32px;
 border-bottom: 3px solid;
 display: inline-block;
 padding-bottom: 8px;
}

.time .espaco {
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.time .colaboradores {
 justify-content: center;
 margin-top: 32px;
 margin-right: 20px;
}
